@import "tailwindcss";
*{
  box-sizing: border-box;
}
:root {
  --main-background-color: oklch(0.21 0.04 266.37);
  --white-color: oklch(0.98 0 0);
  --blue-color: oklch(0.51 0.26 276.94);
  --violet-color: oklch(0.54 0.25 299.33);
  --text-color: oklch(70.4% .04 256.788);
  --green-color: oklch(0.73 0.21 147.96);
  --orange-color: oklch(79.5% .184 86.047);
  --second-background-color: oklch(0.28 0.04 260.34);
  --gray-color: oklch(70.4% .04 256.788);
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
.active{
  color: var(--blue-color);
  font-weight: bold;
  border-bottom: 2px solid var(--blue-color);
  text-shadow: 0 0 10px var(--blue-color), 0 0 20px var(--blue-color), 0 0 30px var(--blue-color), 0 0 40px var(--blue-color);
}
.line{
  position: relative;
}
.line{
  background: linear-gradient(to right, var(--blue-color), var(--violet-color));
}
.shadow{
  text-shadow: 0 0 10px var(--blue-color), 0 0 20px var(--blue-color), 0 0 30px var(--blue-color), 0 0 40px var(--blue-color);
}